.footer_area{
    background-color: rgba(53, 60, 53, 1);
}

.footer_content .row{
    padding: 76px 0 0 0;
    justify-content: center;
}

.footer_content .row.copy{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: white;
    letter-spacing: 0.005em;

    text-align: center;
}

.footer_content .footer_logo{
    width: 162px;
    margin-bottom: 16px;
}

.footer_content .footer_title{
    display: flex;
    justify-content: start;
    margin: 12px 0 10px 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: white;
    letter-spacing: 0.005em;
}

.footer_content .row .kol p,h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: white;
    letter-spacing: 0.005em;
}

.footer_content .row .kolom2 a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.footer_content .row .kolom3 a{
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

.footer_content .row .kolom4 .subscribe_box{
    padding: 8px;
    border-radius: 32px;
    background: white;
}

.footer_content .row .kolom4 .subscribe_box .form_sub{
    width: 100%;
    border: none;
    outline: none;
}

.footer_content .row .kolom4 .subscribe_box .btn_sub{
    color: white;
    border: none;
    border-radius: 32px;
    background-color: rgba(255, 122, 0, 1);
    width: 50%;
    padding: 10px 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.005em;
}

@media (max-width:992px){
}

@media (max-width: 576px){
    .footer_content .row{
        padding: 32px 16px;
    }
}